body {
    background-color: #f4f4f9;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

h2 {
    text-align: center;
    color: #343a40;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

#resultado {
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
    text-align: center;
    margin-top: 20px;
}
